/* ==========================================================================
   VARIABLES
 ========================================================================== */

$total-columns: 16 !default; // mobile
$emBase: 16px !default;

$bgcolor:#ced8e7;
$bodycolor:#2c3e50;